@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
  }
}

@font-face {
  font-family: "Black Chancery";
  /*font-style: normal;*/
  /*font-weight: 400;*/
  src: url("./fonts/black-chancery.ttf") format("truetype");
}

@font-face {
  font-family: "Merienda Bold";
  /*font-style: bold;*/
  /*font-weight: 400;*/
  src: url("./fonts/merienda-bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merienda Regular";
  src: url("./fonts/merienda-regular.woff2") format("woff2");
}
